  <footer  class="bg-dark text-white text-center py-3  mt-5">
    <p class="mb-0">&copy; <%= new Date().getFullYear() %> AK Jewellers, Gorakhpur. All rights reserved.</p>
    <p>Call us: 9198510506</p>
     <p>Call us: 8810700647</p>
  </footer>