<%- include('partials/header') %>

  <div class="contact-container">
    <h1>Contact AK Jewellers</h1>

    <div class="contact-info">
      <p><i class="fas fa-map-marker-alt"></i>
        Gyan Chai Wali Gali, near Jaiswal Katra, Soni Katra, Ghantaghar, Gorakhpur</p>

      <p><strong>Hours:</strong> Mon-Sat, 10:00 AM - 8:00 PM</p>
      <p><i class="fas fa-phone"></i>
        <a href="tel:+9198510506">+91 98510 506</a>
      </p>

      <p><i class="fab fa-whatsapp"></i>
        <a href="https://wa.me/9198510506" target="_blank">Chat on WhatsApp</a>
      </p>

    </div>

    <h2>Find Us on the Map</h2>
    <iframe src="https://www.google.com/maps?q=halsiganj,+Ghantaghar,+Gorakhpur&output=embed" allowfullscreen>
    </iframe>
  </div>


  <%- include('partials/footer') %>